@import '/styles/sass/mixins';

.success {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  .main {
    font-size: 2rem;
  }
  .sub {
    width: 80%;
    font-size: 1.8rem;
    line-height: 2.8rem;
    filter: opacity(0.85);
  }
  .links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    border-top: 1px solid rgba($color-accent-1, 0.25);
    padding-top: 3rem;
    gap: 2rem;
    .tweetLink,
    .orderLink {
      @include main-btn;
    }
    .orderLink {
      position: relative;
      &:disabled {
        filter: opacity(0.75) grayscale(1);
        &:hover {
          cursor: default;
          & > .popUp {
            display: block;
          }
        }
      }
      .popUp {
        position: absolute;
        display: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        transform: rotate(-15deg);
        background-color: rgba($color-main, 0.5);
        border-radius: $btn-border-radius;
        backdrop-filter: blur(10px);
        padding: 1rem;
        width: 18rem;
        top: 1rem;
        left: -1rem;
      }
    }
    .txnInfo {
      font-size: 2.5rem;
      span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.8rem;
        filter: opacity(0.75);
        color: $color-accent-1;
        margin-right: 1.5rem;
      }
      .link {
        transition: all 0.2s;
        &:hover {
          @include btn-hover;
        }
        .icon {
          filter: opacity(0.75);
        }
      }
    }
  }
}
