@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  margin-top: $section-spacing/2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .subtext {
    color: $color-accent-1;
    font-size: 1.8rem;
    -webkit-filter: opacity(0.75);
    filter: opacity(0.75);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .title {
    font-size: 5rem;
    letter-spacing: 1px;
    @include screen-tablet-lg {
      font-size: 3.75rem;
    }
  }
  .researcher {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-filter: opacity(0.75);
    filter: opacity(0.75);
  }
  .tags {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
    @include screen-tablet-sm {
      gap: 1rem;
    }
    .tag {
      font-size: 2rem;
      text-transform: capitalize;
      color: $color-accent-1;
      border-radius: $btn-border-radius;
      background-color: $color-main;
      padding: 0.8rem 1.2rem;
      @include screen-tablet-sm {
        font-size: 1.8rem;
      }
    }
  }
}
