@import '/styles/sass/mixins';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-dark, 0.75);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.note {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  position: relative;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  &.valid {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    cursor: default;
  }
  &.alert {
    color: $color-accent-2;
  }
  &.status {
    .approved {
      color: $color-accent-1;
      text-transform: uppercase;
    }
    .confirm {
      color: $color-accent-2;
    }
    -webkit-filter: opacity(1);
    filter: opacity(1);
    z-index: 1000;
  }
}

.loaderLine {
  width: 30rem;
  height: 1px;
  left: calc(50% - 30rem / 2);
  top: 3.5rem;
  position: absolute;
  overflow: hidden;
  background-color: rgba($color-accent-1, 0.25);
  border-radius: $btn-border-radius;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: $color-accent-1;
    -webkit-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    border-radius: $btn-border-radius;
  }
}
