@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  @include center-flex;
  flex-direction: column;
  margin-top: $section-spacing;
  text-align: center;
  .header {
    font-size: 2.5rem;
    -webkit-filter: opacity(0.85);
    filter: opacity(0.85);
    margin-bottom: 1.5rem;
  }
  .queryBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 80%;
    background-color: rgba($color-main, 0.25);
    border-top: 1px solid rgba($color-accent-1, 0.25);
    border-bottom: 1px solid rgba($color-accent-1, 0.25);
    border-radius: $box-border-radius;
    padding: 3rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    @include screen-tablet-sm {
      width: 95%;
    }
    .inputForm {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      @include screen-tablet-sm {
        gap: 4rem;
      }
      .formLabel {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-right: 1rem;
        -webkit-filter: opacity(0.85);
        filter: opacity(0.85);
        .factoryMark,
        .projectMark {
          display: inline-block;
          font-size: 1.6rem;
          border-radius: $btn-border-radius;
          padding: 0.15rem 0.5rem;
          margin-left: 0.5rem;
        }
        .factoryMark {
          color: rgba($color-accent-2, 0.85);
          border: 1px solid rgba($color-accent-2, 0.85);
        }
        .projectMark {
          color: rgba($color-accent-1, 0.85);
          border: 1px solid rgba($color-accent-1, 0.85);
        }
      }
      .formInput {
        width: 40rem;
        padding: 1rem;
        border: none;
        font-size: 1.8rem;
        border-radius: $btn-border-radius;
        border-bottom: 1px solid rgba($color-accent-1, 0.25);
        background-color: rgba($color-dark, 0.5);
        color: $color-accent-1;
        @include screen-tablet-sm {
          width: 35rem;
        }
        &:focus {
          outline: 1px solid rgba($color-accent-2, 0.5);
          border-bottom: 1px solid rgba($color-accent-1, 0);
        }
        &.areaInput {
          width: 70rem;
          @include screen-tablet-lg {
            width: 50rem;
          }
          @include screen-tablet-sm {
            width: 35rem;
          }
        }
      }
      .radioSelector {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 0;
        gap: 2rem 10rem;
        @include screen-tablet-sm {
          grid-template-columns: 1fr;
        }
        .formLabel:hover {
          cursor: pointer;
        }
        input[type='radio'] {
          margin-right: 0.5rem;
          accent-color: $color-accent-1;
        }
      }
    }
    .actionBtn {
      @include main-btn;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      &:disabled {
        -webkit-filter: opacity(0.5);
        filter: opacity(0.5);
        &:hover {
          cursor: none;
        }
      }
    }
  }
}
