@import '/styles/sass/mixins';

.header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  padding-bottom: 3rem;
  width: 95%;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
}
.colors,
.imageStyle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
  width: 95%;
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    -webkit-filter: opacity(0.75);
    filter: opacity(0.75);
    color: $color-accent-1;
  }
  .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 0;
    button {
      @include main-btn;
      &:not(.active) {
        background-color: transparent;
        color: $color-white;
      }
      &.active:hover {
        -webkit-filter: opacity(1);
        filter: opacity(1);
      }
    }
  }
}
