@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  display: flex;
  flex-direction: column;
  margin-top: $section-spacing/2;
  .header {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: $color-accent-1;
    padding: 1rem $content-gap;
  }
  .content {
    display: flex;
    gap: 5rem;
    @include screen-tablet-lg {
      flex-direction: column;
    }
    .researcher {
      @include section-border;
      position: relative;
      flex: 4;
      display: flex;
      flex-direction: column;
      .details {
        display: flex;
        flex-wrap: wrap;
        gap: $content-gap;
        margin-bottom: $content-gap;
        @include screen-tablet-sm {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .avatarBox {
          position: relative;
          width: 20rem;
          height: 20rem;
          overflow: hidden;
          border-radius: $box-border-radius;
          background-color: rgba($color-main, 0.25);
          @include safari-overflow;
          .avatarImage {
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
          }
        }
        .attributes {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 2;
          h4 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 2.8rem;
            span {
              display: block;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-size: 1.8rem;
              -webkit-filter: opacity(0.75);
              filter: opacity(0.75);
              color: $color-accent-1;
            }
          }
        }
        .socials {
          flex: 1;
          display: flex;
          gap: 2rem;
          -webkit-filter: opacity(0.85);
          filter: opacity(0.85);
          @include screen-tablet-sm {
            position: absolute;
            flex-direction: column;
            top: 6rem;
            right: calc(50% - 15rem);
          }
          .icon {
            transition: all 0.2s;
            &:hover {
              @include btn-hover;
            }
          }
        }
      }
      .bio {
        font-size: 2rem;
        line-height: 3rem;
        text-align: justify;
        -webkit-filter: opacity(0.85);
        filter: opacity(0.85);
      }
    }
    .supporterPortal {
      flex: 3;
    }
  }
}
