@import '/styles/sass/mixins';

.header {
  text-align: center;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  padding-bottom: 3rem;
  width: 95%;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
}
.fundingBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
  gap: 3rem;
  .mainText {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
  }
}
.howBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 1.6rem;
  gap: 1rem;
  transition: all 0.2s;
  color: rgba($color-white, 0.85);
  span {
    font-weight: 900;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2rem;
    border: 1px solid $color-white;
    border-radius: 50%;
  }
  &:hover {
    @include btn-hover;
  }
}
.tryAgain {
  padding: 3rem 0;
  font-size: 1.6rem;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  span {
    color: $color-accent-1;
    transition: all 0.2s;
    &:hover {
      @include btn-hover;
    }
  }
}
