@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  .head {
    @include header-styling;
    margin: calc($section-spacing / 2) 0 calc($content-gap / 2) $content-gap;
  }
  .main {
    @include section-border;
    width: 100%;
    .textBox {
      background-color: rgba($color-main, 0.25);
      backdrop-filter: blur(10px);
      border-radius: $box-border-radius;
      padding: 1rem 3rem;
      .title {
        text-transform: capitalize;
        margin-top: 2rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: $color-accent-1;
      }
      .text {
        margin: 1rem 0;
        font-size: 1.8rem;
        line-height: 2.8rem;
        filter: opacity(0.85);
        .numberedBullet {
          font-size: 2.2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
