@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  margin-top: 1rem;
  .gridBox {
    @include section-border;
    display: grid;
    gap: $content-gap;
    grid-template-columns: repeat(3, 1fr);
  }
  .end {
    @include center-flex;
    flex-direction: column;
    margin-top: $section-spacing;
    color: $color-accent-1;
    .endHead {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .endText {
      font-size: 2rem;
      margin-bottom: 5rem;
    }
    .endBtn {
      @include main-btn;
    }
  }
}
