@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  margin-top: 1rem;
  .container {
    @include section-border;
    .searchHeader {
      text-align: center;
      margin-bottom: $content-gap;
      .searchText {
        font-size: 2rem;
        span {
          font-size: 1.6rem;
          filter: opacity(0.5);
        }
      }
    }
    .gridBox {
      display: grid;
      gap: $content-gap;
      grid-template-columns: repeat(3, 1fr);
    }
    .loaderBox {
      margin-top: 5rem;
    }
    .end {
      @include center-flex;
      flex-direction: column;
      margin-top: $section-spacing;
      color: $color-accent-1;
      .endHead {
        font-size: 4rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
      }
      .endText {
        font-size: 2rem;
        margin-bottom: 5rem;
      }
      .endBtn {
        @include main-btn;
      }
    }
  }
}
