@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  @include center-flex;
  position: relative;
  flex-direction: column;
  margin-top: $section-spacing;
  text-align: center;
  .mainText {
    font-size: 6rem;
    letter-spacing: 3px;
    margin-bottom: 3rem;
    @include screen-tablet-sm {
      font-size: 6rem;
      letter-spacing: 1px;
    }
  }
  .subText {
    max-width: 55rem;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    color: rgba($color-white, 0.85);
    span {
      color: $color-accent-1;
      font-weight: 800;
    }
  }
  .actionBtn {
    @include main-btn;
  }
}
