@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  margin-top: $section-spacing/2;
  display: flex;
  flex-direction: column;
  .mainContent {
    @include center-flex;
    gap: 5rem;
    .leftContent {
      position: relative;
      background-color: rgba($color-main, 0.25);
      border-radius: $box-border-radius;
      height: 65rem;
      width: 65rem;
      border: 1px solid rgba($color-accent-1, 0.15);
      backdrop-filter: blur(10px);
      overflow: hidden;
      transition: all 0.4s;
      &:hover {
        filter: saturate(1.5);
      }
      .loaderBox {
        position: absolute;
        height: 95%;
        width: 100%;
        margin: auto;
      }
      .imageBox {
        height: 100%;
        position: relative;
        @include safari-overflow;
        .image {
          @include obj-contain;
        }
      }
    }

    .sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 65rem;
      gap: 3rem;
      p {
        font-size: 4rem;
        line-height: 4rem;
        span {
          color: $color-accent-1;
          display: block;
          font-size: 1.8rem;
          filter: opacity(0.75);
          letter-spacing: 1px;
          text-transform: uppercase;
          &:nth-of-type(2) {
            color: $color-white;
            display: inline;
          }
        }
        .inlineLink {
          transition: all 0.2s;
          &:hover {
            @include btn-hover;
          }
          .icon {
            filter: opacity(0.75);
            margin-left: 1rem;
          }
        }
      }
      .links {
        margin-top: 3rem;
        display: flex;
        gap: 3rem;
        .link {
          @include main-btn;
          margin: 0;
        }
      }
    }
  }
}
