@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  display: flex;
  flex-direction: column;
  margin-top: $section-spacing;
  .howBox {
    @include section-border;
    display: grid;
    grid-template-columns: 1fr 30rem 1fr;
    grid-template-rows: repeat(6, 20rem);
    grid-template-areas:
      'step1 chain .'
      '. chain step2'
      'step3 chain .'
      '. chain step4'
      'step5 chain .'
      '. chain step6';
  }
  .chainBox {
    position: relative;
    grid-area: chain;
    .chain {
      @include obj-contain;
      animation: pulse 6s ease infinite;
    }
  }
  .stepItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    h3 {
      color: $color-accent-1;
      font-size: 2.1rem;
      font-weight: 400;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.5rem;
      a {
        text-decoration: underline;
        transition: all 0.2s;
        &:hover {
          @include btn-hover;
        }
      }
    }
    &:nth-child(odd) {
      text-align: right;
    }
    &:nth-child(1) {
      grid-area: step1;
    }
    &:nth-child(2) {
      grid-area: step2;
    }
    &:nth-child(3) {
      grid-area: step3;
    }
    &:nth-child(4) {
      grid-area: step4;
    }
    &:nth-child(5) {
      grid-area: step5;
    }
    &:nth-child(6) {
      grid-area: step6;
    }
  }
}
