@import 'variables';

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(2);
  }
  100% {
    filter: saturate(1);
  }
}

@keyframes loadingBars {
  from {
    height: 0.5rem;
  }
  to {
    height: 7rem;
  }
}

@keyframes dot-falling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba($color-accent-1, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 $color-accent-1;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba($color-accent-1, 0);
  }
}
@keyframes dot-falling-before {
  0% {
    box-shadow: 9984px -15px 0 0 rgba($color-accent-1, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 $color-accent-1;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba($color-accent-1, 0);
  }
}
@keyframes dot-falling-after {
  0% {
    box-shadow: 10014px -15px 0 0 rgba($color-accent-1, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 $color-accent-1;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba($color-accent-1, 0);
  }
}
