$color-main: #0c294b;
$color-dark: darken($color-main, 12%);
$color-accent-1: #68eaff;
$color-accent-2: #fe00fe;
$color-white: #fff;

$box-border-radius: 1.8rem;
$btn-border-radius: 0.8rem;

$navbar-height: 6.5rem;
$max-page-width: 140rem;
$section-spacing: 15rem;

$content-gap: 2rem;
