@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  @include center-flex;
  gap: $content-gap;
  margin-top: $section-spacing/2;
  .leftPanel {
    @include center-flex;
    flex-direction: column;
    flex: 3;
    .requestImage {
      @include main-btn;
      margin-top: 3rem;
      &:disabled {
        filter: opacity(0.5);
        &:hover {
          cursor: none;
        }
      }
    }
  }
  .imagePanel {
    flex: 4;
    background-color: rgba($color-main, 0.25);
    border-radius: $box-border-radius;
    height: 60rem;
    border: 1px solid rgba($color-accent-1, 0.25);
    backdrop-filter: blur(10px);
    overflow: hidden;
    @include safari-overflow;
    transition: all 0.4s;
    &:hover {
      filter: saturate(1.5);
    }
  }
}
