@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  @include center-flex;
  gap: $content-gap;
  margin-top: $section-spacing / 2;
  @include screen-tablet-lg {
    flex-direction: column;
    gap: $content-gap * 2;
  }
  .leftPanel {
    @include center-flex;
    flex-direction: column;
    flex: 1;
    .requestImage {
      @include gradient-border;
      background-image: linear-gradient(to bottom, $color-main, $color-dark);
      color: $color-accent-1;
      font-size: 2.5rem;
      padding: 1.5rem 2rem;
      margin-top: 3rem;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        color: rgba($color-accent-1, 0.7);
        &::after {
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
        }
      }
      &:disabled {
        color: rgba($color-accent-1, 0.3);
        &::after {
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
        }
        &:hover {
          cursor: none;
        }
      }
    }
  }
  .imagePanel {
    background-color: rgba($color-main, 0.25);
    border-radius: $box-border-radius;
    height: 60rem;
    width: 60rem;
    border: 1px solid rgba($color-accent-1, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    @include safari-overflow;
    transition: all 0.4s;
    @include screen-tablet-lg {
      width: 95%;
    }
    &:hover {
      -webkit-filter: saturate(1.5);
      filter: saturate(1.5);
    }
  }
  .continueBtn {
    @include main-btn;
    &:disabled {
      filter: opacity(0.5);
    }
  }
}
