@import '/styles/sass/mixins';

.header {
  text-align: center;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  padding-bottom: 3rem;
  width: 95%;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
}
.fundingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  border-bottom: solid 1px rgba($color-accent-1, 0.25);
  gap: 3rem;
  .mainText {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
  }
  .fundingForm {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 1rem;
    .label {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.8rem;
      filter: opacity(0.75);
      color: $color-accent-1;
      align-self: flex-start;
    }
    .inputDiv {
      display: flex;
      position: relative;
      .usdc {
        position: absolute;
        top: 1rem;
        font-size: 2.5rem;
        padding: 0.25rem 1.5rem;
        color: rgba($color-accent-1, 0.5);
        border-right: 1px solid rgba($color-accent-1, 0.25);
      }
      .fundingInput {
        flex: 1;
        border: 0.1rem solid rgba($color-accent-1, 0.5);
        border-radius: $btn-border-radius;
        background-color: rgba($color-main, 0.25);
        padding: 1rem 1.5rem;
        color: rgba($color-white, 0.75);
        font-size: 2.5rem;
        text-align: right;
        &:focus {
          outline: none;
          border-color: rgba($color-accent-2, 0.5);
          box-shadow: 0 0 0.4rem 0.4rem rgba($color-accent-2, 0.15);
        }
        &::placeholder {
          color: rgba($color-accent-1, 0.35);
        }
      }
      .submitBtn {
        @include main-btn;
        position: relative;
        width: fit-content;
        align-self: center;

        &:disabled {
          filter: opacity(0.5);
          border-top: 1px solid rgba($color-accent-1, 0);
          border-bottom: 1px solid rgba($color-accent-1, 0);
          &:hover {
            cursor: none;
          }
        }
        .hidden {
          filter: opacity(0);
        }
        .dots {
          position: absolute;
          top: 2.25rem;
          left: 40%;
        }
      }
    }
    .rampLink {
      font-size: 1.4rem;
      color: rgba($color-accent-1, 0.85);
      text-align: left;
      transition: all 0.2s;
      width: fit-content;
      &:hover {
        @include btn-hover;
      }
    }
    .note {
      margin-top: 1rem;
      font-size: 1.6rem;
      filter: opacity(0.75);
      &.valid {
        filter: opacity(0);
        cursor: default;
      }
      &.alert {
        color: $color-accent-2;
      }
    }
  }
}
.tryAgain {
  padding: 3rem 0;
  font-size: 1.6rem;
  filter: opacity(0.75);
  span {
    color: $color-accent-1;
    transition: all 0.2s;
    &:hover {
      @include btn-hover;
    }
  }
}
