@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  display: flex;
  flex-direction: column;
  margin-top: $section-spacing/2;
  .header {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: $color-accent-1;
    padding: 1rem $content-gap;
  }
  .content {
    @include section-border;
    .text {
      -webkit-filter: opacity(0.85);
      filter: opacity(0.85);
      text-align: justify;
      .description {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .radar {
      position: relative;
      background-color: rgba($color-main, 0.15);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1px solid rgba($color-accent-1, 0.15);
      padding: 3rem 2rem;
      margin: 0 0 2rem 3rem;
      width: 65rem;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      border-radius: $box-border-radius;
      float: right;
      @include screen-tablet-lg {
        margin: 0 0 3rem 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
