@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  margin-top: 1rem;
  .gridBox {
    @include section-border;
    display: grid;
    gap: $content-gap;
    .filters {
      display: flex;
      justify-content: center;
      gap: $content-gap;
      button {
        font-size: 2rem;
        color: rgba($color-white, 0.85);
        background-color: transparent;
        padding: 1rem 1.2rem;
        border-radius: $btn-border-radius;
        border-bottom: 1px solid rgba($color-accent-1, 0);
        transition: all 0.2s;
        &:hover:not(.current) {
          @include btn-hover;
        }
        &.current {
          color: $color-accent-1;
          border-bottom: 1px solid rgba($color-accent-1, 0.5);
        }
      }
    }
    .mustConnect {
      text-align: center;
      font-size: 1.8rem;
      margin-top: 2rem;
      -webkit-filter: opacity(0.5);
      filter: opacity(0.5);
    }
  }
  .loaderBox {
    margin-top: 5rem;
  }
  .end {
    @include center-flex;
    flex-direction: column;
    margin-top: $section-spacing;
    color: $color-accent-1;
    .endHead {
      font-size: 4rem;
      margin-bottom: 5rem;
      letter-spacing: 1px;
    }
    .endBtn {
      @include main-btn;
    }
  }
}
