@import '/styles/sass/variables';
@import '/styles/sass/animations';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .loaderCircle {
    &.large {
      --loader-size: 16rem;
    }
    &.small {
      --loader-size: 8rem;
    }
    position: relative;
    width: calc(var(--loader-size));
    height: calc(var(--loader-size));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba($color-white, 0.1);
    .loaderContent {
      position: absolute;
      font-size: 1.6rem;
      left: 50%;
      top: 57%;
      text-transform: uppercase;
      transform: translate(-50%, -100%);
      color: rgba($color-accent-1, 0.8);
    }
    .loaderLineMask {
      position: absolute;
      left: 50%;
      top: 50%;
      width: var(--loader-size) / 2;
      height: calc(var(--loader-size));
      margin-left: calc(var(--loader-size) / -2);
      margin-top: calc(var(--loader-size) / -2);
      overflow: hidden;
      transform-origin: calc(var(--loader-size) / 2)
        calc(var(--loader-size) / 2);
      -webkit-mask-image: -webkit-linear-gradient(
        top,
        #000000,
        rgba(0, 0, 0, 0)
      );
      animation: rotateClockwise 1.2s infinite linear;
      .loaderLine {
        width: calc(var(--loader-size));
        height: calc(var(--loader-size));
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba($color-accent-1, 0.75);
      }
    }
  }
}
