@import '/styles/sass/variables';
@import '/styles/sass/animations';

.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  .loaderCircle {
    position: relative;
    width: calc($loader-diameter);
    height: calc($loader-diameter);
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba($color-white, 0.1);
    .loaderContent {
      position: absolute;
      font-size: 1.6rem;
      left: 50%;
      top: 57%;
      text-transform: uppercase;
      transform: translate(-50%, -100%);
      color: rgba($color-accent-1, 0.8);
    }
    .loaderLineMask {
      position: absolute;
      left: 50%;
      top: 50%;
      width: $loader-diameter/2;
      height: calc($loader-diameter);
      margin-left: calc($loader-diameter / -2);
      margin-top: calc($loader-diameter / -2);
      overflow: hidden;
      transform-origin: calc($loader-diameter/2) calc($loader-diameter/2);
      -webkit-mask-image: -webkit-linear-gradient(
        top,
        #000000,
        rgba(0, 0, 0, 0)
      );
      animation: rotateClockwise 1.2s infinite linear;
      .loaderLine {
        width: calc($loader-diameter);
        height: calc($loader-diameter);
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba($color-accent-1, 0.75);
      }
    }
  }
}
