@import '/styles/sass/mixins';

.noWallet {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  .text {
    width: 85%;
    margin-top: 3rem;
    p {
      font-size: 3rem;
    }
    .subtext {
      font-size: 1.6rem;
      line-height: 2.5rem;
      -webkit-filter: opacity(0.75);
      filter: opacity(0.75);
      margin-top: 3rem;
    }
  }
  .networkButtons {
    display: flex;
  }
  .connectWallet {
    @include main-btn;
    font-size: 2.5rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .logoContainer {
      position: relative;
      width: 3rem;
      height: 3rem;
      .chainLogo {
        -o-object-fit: contain;
        object-fit: contain;
      }
    }

    &:hover {
      cursor: pointer;
      color: rgba($color-accent-1, 0.75);
      &::after {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
      }
    }
  }
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 85%;
    margin-top: 3rem;
    .helpHead {
      font-size: 1.8rem;
    }
    .helpSub {
      font-size: 1.6rem;
      line-height: 2.5rem;
      -webkit-filter: opacity(0.75);
      filter: opacity(0.75);
      span {
        text-decoration: underline;
        transition: all 0.2s;
        &:hover {
          @include btn-hover;
        }
      }
    }
    .tryAgain {
      margin-top: 2rem;
      font-size: 1.6rem;
      -webkit-filter: opacity(0.75);
      filter: opacity(0.75);
      span {
        color: $color-accent-1;
        transition: all 0.2s;
        &:hover {
          @include btn-hover;
        }
      }
    }
  }
}
