@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
  @include screen-tablet-lg {
    flex-direction: column;
  }
  .imageBox {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background-color: rgba($color-main, 0.25);
    border: 1px solid rgba($color-accent-1, 0.15);
    overflow: hidden;
    border-radius: $box-border-radius;
    transition: all 0.4s;
    @include screen-tablet-lg {
      height: 40rem;
      flex: none;
    }
    .coverImage {
      -o-object-fit: cover;
      object-fit: cover;
    }
    &:hover {
      -webkit-filter: saturate(1.5);
      filter: saturate(1.5);
    }
  }
  .textBox {
    flex: 1;
    display: flex;
    position: relative;
    padding: 1rem;
    gap: 3rem;
    flex-direction: column;
    .funding {
      font-size: 6rem;
      font-weight: 500;
      color: $color-accent-1;
      span {
        -webkit-filter: opacity(0.75);
        filter: opacity(0.75);
        font-size: 2.2rem;
      }
    }
    .fundingBox {
      display: flex;
      gap: 2rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba($color-accent-1, 0.25);
      .fundProject {
        @include main-btn;
        font-size: 3rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0;
      }
      .howBtn {
        display: flex;
        align-items: center;
        background-color: transparent;
        font-size: 1.6rem;
        gap: 1rem;
        transition: all 0.2s;
        span {
          font-weight: 900;
          display: inline-block;
          height: 2.5rem;
          width: 2.5rem;
          line-height: 2rem;
          border: 1px solid $color-white;
          border-radius: 50%;
        }
        &:hover {
          @include btn-hover;
        }
      }
    }
    .summary {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .summaryHead {
        color: $color-accent-1;
        font-size: 1.8rem;
        -webkit-filter: opacity(0.75);
        filter: opacity(0.75);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
      }
      .summary {
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-align: justify;
      }
    }
  }
}
