@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
  .imageBox {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background-color: rgba($color-main, 0.25);
    border: 1px solid rgba($color-accent-1, 0.15);
    overflow: hidden;
    border-radius: $box-border-radius;
    transition: all 0.4s;
    .coverImage {
      object-fit: cover;
    }
    &:hover {
      filter: saturate(1.5);
    }
  }
  .textBox {
    flex: 1;
    display: flex;
    position: relative;
    padding: 1rem;
    gap: 3rem;
    flex-direction: column;
    .funding {
      font-size: 6rem;
      font-weight: 500;
      color: $color-accent-1;
      span {
        filter: opacity(0.75);
        font-size: 2.2rem;
      }
    }
    .fundingBox {
      display: flex;
      gap: 2rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba($color-accent-1, 0.25);
      .fundProject {
        @include main-btn;
        font-size: 3rem;
        width: fit-content;
        margin: 0;
      }
      .howBtn {
        display: flex;
        align-items: center;
        background-color: transparent;
        font-size: 1.6rem;
        gap: 1rem;
        transition: all 0.2s;
        span {
          font-weight: 900;
          display: inline-block;
          height: 2.5rem;
          width: 2.5rem;
          line-height: 2rem;
          border: 1px solid $color-white;
          border-radius: 50%;
        }
        &:hover {
          @include btn-hover;
        }
      }
    }
    .summary {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .summaryHead {
        color: $color-accent-1;
        font-size: 1.8rem;
        filter: opacity(0.75);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
      }
      .summary {
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-align: justify;
      }
    }
    .hiddenContent {
      @include overlay-position;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba($color-dark, 0.25);
      backdrop-filter: blur(100px);
      border-top: 1px solid rgba($color-accent-1, 0.25);
      border-bottom: 1px solid rgba($color-accent-1, 0.25);
      border-radius: $box-border-radius;
      padding: 3rem;
      .howHead {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 1px;
      }
      .exitBtn {
        position: absolute;
        right: 2rem;
        top: 1rem;
        font-size: 3.5rem;
        color: $color-accent-1;
        background-color: transparent;
        transition: all 0.2s;
        border-radius: $btn-border-radius;
        &:hover {
          @include btn-hover;
        }
      }
      .steps {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        gap: 1.5rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        .step {
          display: flex;
          align-items: flex-start;
          gap: 2rem;
          span {
            text-align: center;
            display: block;
            color: $color-accent-1;
            font-size: 3rem;
            padding: 0.5rem 1rem;
            min-width: 4rem;
            border-bottom: 1px solid rgba($color-accent-1, 0.5);
            border-radius: $btn-border-radius;
          }
        }
      }
      .learnMore {
        @include main-btn;
        align-self: center;
        width: fit-content;
        margin: 0;
      }
    }
  }
}
