@import '/styles/sass/mixins';

.section {
  @include restrained-width(100%);
  @include center-flex;
  margin-top: $navbar-height;
  @include screen-tablet-sm {
    justify-content: center;
  }
  .leftContent {
    display: flex;
    margin-left: $content-gap;
    gap: 5rem;
    @include screen-tablet-sm {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .head {
      font-size: 4rem;
      letter-spacing: 1px;
      color: $color-accent-1;
    }
    .tabs {
      display: flex;
      align-self: center;
      gap: 2rem;
      margin-bottom: 1rem;
      .tab {
        font-size: 2rem;
        padding: 1.5rem 2rem;
        border-radius: $btn-border-radius;
        transition: all 0.2s;
        @include screen-tablet-sm {
          margin: 0;
        }
        &.active {
          background-color: rgba($color-main, 0.75);
          color: $color-accent-1;
        }
        &:hover:not(.active) {
          @include btn-hover;
        }
      }
    }
  }
  .filters {
    margin-right: $content-gap;
    .shuffle {
      display: flex;
      @include main-btn;
      margin: 0;
    }
    @include screen-tablet-sm {
      display: none;
    }
  }
}
